# Virtual environment
venv/
.env/

# Python
__pycache__/
*.py[cod]
.pytest_cache/

# YOLO training outputs
runs/
*.pt

# Dataset
dataset/

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db